<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>id</key>
		<string>C0001</string>
		<key>name</key>
		<string>Pritish Patel</string>
		<key>email</key>
		<string>amallabyg@topsy.com</string>
	</dict>
	<dict>
		<key>id</key>
		<string>C0002</string>
		<key>name</key>
		<string>Vipul Garg</string>
		<key>email</key>
		<string>adurrant1@github.io</string>
	</dict>
	<dict>
		<key>id</key>
		<string>C0003</string>
		<key>name</key>
		<string>Anetta Langrick</string>
		<key>email</key>
		<string>bgeillc@europa.eu</string>
	</dict>
</array>
</plist>
